babel==2.17.0
black==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
idna==3.10
libusb1==3.3.0
mypy-extensions==1.0.0
ndeflib==0.3.3
nfcpy==1.0.4
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pyDes==2.0.1
PyQt5>=5.15.2
PyQt5-Qt5>=5.15.2
PyQt5_sip==12.17.0
pyscard==2.2.1
pyserial==3.5
requests==2.32.3
urllib3==2.3.0
